header,nav, #content, footer {
	display: block;
}

body {
	background-color: #EFEFEF;
	width: 90%;
	margin: 0 auto;
}

header {
	height: 110px;
	width: 100%;
}
.brand {
	width: 33.333333%;
	position: relative;
	float: left;
	margin-top: 10px;
}

.brand h4 {
	display: block;
	line-height: 19.8px;
}

.callus {
	height: 119.141px;
	width: 304.188px;
	position: relative;
	margin: 0 auto;
	display: block;
	line-height: 119.141px;
	text-align: center;
}